<h2>People</h2>
<div ng-app="app">
  <div ng-controller="peopleController">
    <div ng-repeat="person in people">
      <h2 ng-click="toggleBio(person)"> {{ person.name }}</h2>
      <p ng-if="person.bioVisible" >
         {{ person.bio }}
       </p>
     </div>


    <input type="text" placeholder="Name" ng-model="person.name">
    <input type="text" placeholder="Bio" ng-model="person.bio">

    <button type="button" ng-click="addPerson(person)"> Add Person</button>
    <h3 {{counter}}</h3>
  </div>
</div>
